body{
    font-family: 'Barlow', sans-serif;
    width: 1110px;
    margin: auto;
}

h1{
    font-size: 56px;
    color:#162542;
    font-weight: 900;
    text-transform: uppercase;
}

h2{
    font-size: 32px;
    color:#162542;
    font-weight: 900;
    text-transform: uppercase;
}

h3{
    font-size: 24px;
    color:#162542;
    font-weight: 900;
    text-transform: uppercase;
}

p{
    color: #7B8BAD;
    font-weight:500;
    line-height: 26px;
}

.btn-2{
    padding: 16px 26px;
    color:#ffffff;
    background-color: #F16718;
    border-radius: 8px;
    border: none;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
}

.btn-1{
    padding: 16px 26px;
    color:#162542;
    background-color: #E8EFF2;
    border-radius: 8px;
    border: none;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    padding-top: 64px;
}

.order-btn{
    margin-left: auto;
    padding-top: 64px;
}

.keyboard-release{
    display: flex;
    flex-direction: row;
    align-items: top;
    padding-top: 88px;
}

.keyboard-col{
    display: flex;
    flex-direction: column;
    width: 445px;
}

.pre-order{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 36px;
}

.pre-order p{
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 36px;
}

.release-img{
    margin-left: 136px;
    border-radius: 16px;
    overflow: hidden;
}

.keyboard-display{
    display: flex;
    flex-direction: row;
    margin-top: 36px;
}

.text-display{
    display: flex;
    flex-direction: column;
    
    padding-top: 96px;
    padding-left: 104px;
}

.keyboard-phone{
    border-radius: 8px;
}

.keyboard-glass{
    border-radius: 8px;
    margin-left: 36px;
}

.specs{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 240px;
}

.col{
    width: 250px;
}

.col h3{
    width: 80%;
}

.footer {
   
}