body{
    font-family: 'Barlow', sans-serif;
    width: 70rem;
    margin: auto;
}

h1{
    font-size: 3.5rem;
    color:#162542;
    font-weight: 900;
    text-transform: uppercase;
}

h2{
    font-size: 2rem;
    color:#162542;
    font-weight: 900;
    text-transform: uppercase;
}

h3{
    font-size: 1.5rem;
    color:#162542;
    font-weight: 900;
    text-transform: uppercase;
}

p{
    color: #7B8BAD;
    font-weight:500;
    line-height: 26px;
}

.btn-1{
    padding: 1em 1.6em;
    color:#162542;
    background-color: #E8EFF2;
    border-radius: 0.5em;
    border: none;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
}

.btn-1:hover{
    background-color: #162542;
    color: #ffffff;
    cursor: pointer;
}
.btn-2{
    padding: 1em 1.6em;
    color:#ffffff;
    background-color: #F16718;
    border-radius: 0.5em;
    border: none;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
}

.btn-2:hover{
    background-color: #FF9B62;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    padding-top: 4rem;
}

.order-btn{
    margin-left: auto;
    padding-top: 4rem;
}

.keyboard-release{
    display: flex;
    flex-direction: row;
    align-items: top;
    padding-top: 5.5rem;
}

.keyboard-col{
    display: flex;
    flex-direction: column;
    width: 28rem;
}

.pre-order{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2.25rem;
}

.pre-order p{
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 2.25rem;
}

.release-img{
    margin-left: 8.5rem;
    border-radius: 1em;
    overflow: hidden;
}

.keyboard-display{
    display: flex;
    flex-direction: row;
    margin-top: 2.25rem;
}

.text-display{
    display: flex;
    flex-direction: column;
    
    padding-top: 6rem;
    padding-left: 6.5rem;
}

.keyboard-phone{
    border-radius: 0.5em;
}

.keyboard-glass{
    border-radius: 0.5em;
    margin-left: 2.25rem;
}

.specs{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 15rem;
}

.col{
    width: 16rem;
}

.col h3{
    width: 80%;
}

.footer {
    text-align: center;
    margin-top: 14rem;
}

@media (max-width: 40em) {
   .container{
       display: flex;
       flex-direction: column;
   }

   .specs{
       display: flex;
       flex-direction: column;
   }
}